.toplistElements{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    list-style-type: none;
    justify-items: center;

}

.toplistElements .singleElement{
    width: 500px;
    height: 600px;
    overflow: hidden;
    background-size: cover;
    filter: grayscale(100%);
    transition: 0.3s;
    cursor: pointer;
}
.toplistElements .singleElement:hover{
    filter:grayscale(0%);
}

.BeatLoader{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
