.toplistElements{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    list-style-type: none;

}

.singleElement{
    width: 600px;
    height: 800px;
    overflow: hidden;
    background-color: red;
    background-size: cover;
    filter: grayscale(100%);
    transition: 0.3s;
    cursor: pointer;
}
.singleElement:hover{
    filter:grayscale(0%);
}
